# Server config
PORT=5000
NODE_ENV=development

# Database
DATABASE_URL=your_database_url_here

# Redis
REDIS_URL=your_redis_url_here
REDIS_PASSWORD=your_redis_password_here

# JWT
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here

# ThingsBoard config
THINGSBOARD_HOST=thingsboard.cloud
THINGSBOARD_API_TOKEN=your_api_token_here

THINGSBOARD_USERNAME=your_username_in_thingsboard_cloud
THINGSBOARD_PASSWORD=your_password_in_thingsboard_cloud

TB_TELEMETRY_TEMPERATURE=temperature
TB_TELEMETRY_HUMIDITY=humidity
TB_TELEMETRY_GAS=gas_value

TB_RPC_SET_TEMP_LED=setTempLed
TB_RPC_SET_HUMI_LED=setHumiLed
TB_RPC_GET_TEMP_LED=getTempLed
TB_RPC_GET_HUMI_LED=getHumiLed
TB_RPC_SET_BUZZER=setBuzzer
TB_RPC_GET_BUZZER=getBuzzer

# SMTP Config (for Email Alerts)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_gmail_app_password_here