# Client App Config
VITE_PORT=3000
VITE_APP_NAME="SmartHome IoT"
VITE_APP_VERSION=1.0.0

# API Connection
VITE_API_URL=http://localhost:5000/api

# IoT & ThingsBoard Integration
VITE_THINGSBOARD_URL=http://localhost:8080